[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-set-wifi
name: ica-set-wifi
description: Set the default WiFi profile to connect to the ICA campus SSID.
 Optionally delete all other profiles.
advice: Don't forget to re-run ica-set-net once connected to the WiFi!
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: delete_profiles
description: Delete all present Wi-Fi profiles. (recommended)
default: True

[Changelog]
ica-set-wifi (1.0-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  9/2/2020 8:10:24
